@page
@model MyUploadPage.Pages.Docs.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>

@foreach (var photo in Model.Photos)
{
    <img src="@Url.Action("GetFile","Doc",new {Id=photo.Id })" class="img-fluid" style="max-height:300px" />
    <br />
}