@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Files</h1>

<table>
    <tr>
        <th>File Name</th>
    </tr>

    @foreach (var fileName in Model.Files)
    {
        <tr>
            <td>
                <a asp-page="download" asp-route-filename="@(new System.IO.FileInfo(fileName).Name)" class="btn btn-outline-primary"> @(new System.IO.FileInfo(fileName).Name)</a>

            </td>
        </tr>
    }


</table>
