@page
@model MyUploadPage.Pages.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<form enctype="multipart/form-data" method="post" >
    <input type="file" multiple asp-for="UploadFiles" class="form-control-file"/>
    <button type="submit" class="btn btn-primary" >Upload</button>
</form>

